# Python
__pycache__/
*.py[cod]
*.env
.venv/
.env/
*.sqlite3
*.log
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log
interview-frontend/.env

# React build artifacts
interview-frontend/build/
*.cache
coverage/

# OS + IDE files
.vscode/
.idea/
Thumbs.db
